/**
* File Name  : registration-style
* Description : css to design the registration-form
* Created date : 23/01/2019
* Author  : Md Wasif Ali
* Comments : 
*/
.pageBody{
	font-size:120%;
	background-color:#CCCCCC;

}
/* a class to design the header of the form */
.registrationFormHeader {
	margin: auto;	
	color: #FFFFFF;
	border-radius: 10px 10px 0px 0px;
	background-color: #663366;
	text-align:center;	
}
/* a class to dsign for the rest of the form*/
.registrationFormBody{
	margin: auto;
	padding:20px;
	border-radius:0px 0px 10px 10px;
	background-color:#FFFFFF;
}
.input label{
	display:block;
	text-align:left;
}
.formControl {
	border-radius:5px;
	border: none;
	padding:5px 10px;
	font-size:16px;
	
}

.box{
	font-size:16px;
	border-radius:5px;
	border: 1px solid gray;
}
/*a class to design the button */
.buttonDesign{
	color:#FFFFFF;
	background-color:#663366;
	border:none;
	width: 100%;
}
.buttonDesign:hover{
	color:#FFFFFF;
	background-color:#088084;
}
.requiredField{
	color: red;
}

.error {
	font-size: 10px;
	color: red;
}
.tableHead {
	text-align: center;
	color:#FFFFFF;
	background-color:#663366;
}
/* to address scroll bar in text area*/
#addressScrool{
    overflow-y:scroll;
}
.dataTable {
	padding-top: 10px;
}
.content{
	padding-top: 10px;
}






.navbar {
	overflow: hidden;
	background-color: #663366;
  }
  
  .navbar .navlink {
	float: left;
	color: #FFFFFF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .navbar .navlink:hover {
	background-color: #FFFFFF;
	color: #088084;
  }
  
  .navbar .logout {
	  float: right;
	}
  .navbar .navlink.active {
	background-color: #088084;
	color: #FFFFFF;
  }

  .tdalign {
	text-align: center;
  }

  .moveright{
	  float: right;
  }